@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html {
  overflow-x: hidden; }

body {
  font-family: Lato, sans-serif;
  margin: 0; }
  body .container {
    width: 90%;
    margin: 0 auto; }
  body ul {
    list-style: none;
    padding: 0; }
  body a {
    text-decoration: none;
    color: inherit; }
  body .hide {
    display: none; }
  body section {
    padding: 70px 0; }
  body .width-70 {
    width: 70%;
    margin: 0 auto; }
  body .gap {
    height: 1000px; }
  body .white-bg {
    background-color: #fff; }
  body .grey-bg {
    background-color: #f3f3f3; }

header {
  background: url(../img/hero4mySite2.png);
  background-size: cover;
  background-position: 6% 70%;
  height: 525px; }
  header nav {
    position: fixed;
    z-index: 100;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 20px;
    background-color: #00000026;
    border-bottom: 1px solid #8080802b;
    /* nav */ }
    header nav .sidebar-menu {
      font-family: Roboto, Lato, sans-serif;
      position: absolute;
      top: 15px;
      right: -160px;
      transition: right 1s ease-in-out;
      border-radius: 0 0 0 2px;
      background-color: #000000be;
      color: #d9d9d9; }
      header nav .sidebar-menu li {
        padding: 10px 40px; }
        header nav .sidebar-menu li a:hover {
          color: #fff;
          font-weight: bold; }
      header nav .sidebar-menu--close {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        color: #fff; }
        header nav .sidebar-menu--close i {
          font-size: 22px; }
    header nav .nav {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      header nav .nav__logo {
        color: #fff;
        transition: color 300ms ease-in-out;
        font-size: 2rem;
        font-weight: bold;
        background-color: #1f1f1f72;
        padding: 2px 4px; }
      header nav .nav__menu {
        display: none; }
      header nav .nav__mobile-icon {
        cursor: pointer;
        color: black;
        font-weight: bold; }

/* header end */
.solutions {
  display: flex;
  flex-direction: column; }
  .solutions__header h3 {
    font-weight: 100; }
  .solutions__header h2 {
    font-weight: 900;
    font-size: 38px;
    color: #1C9186; }
  .solutions__header h3 {
    letter-spacing: 4px; }
  .solutions__body {
    max-width: 670px; }
    .solutions__body__para {
      line-height: 24px;
      font-weight: 300; }
    .solutions__body__btn {
      display: inline-block;
      border-bottom: 4px solid #e67e22;
      padding-bottom: 3px;
      letter-spacing: 1px;
      font-weight: 300; }
  .solutions__footer {
    margin-top: 40px; }
    .solutions__footer__col__number {
      font-size: 40px;
      font-weight: 900; }
    .solutions__footer__col__heading {
      font-weight: bold;
      color: #1a1a1a;
      letter-spacing: 1px; }
    .solutions__footer__col__para {
      font-weight: 300;
      line-height: 24px;
      margin-bottom: 50px; }
    .solutions__footer__col__number {
      color: #1C9186; }

/* solutions end */
#services {
  background-color: #fff;
  padding-top: 0;
  padding-bottom: 0; }

.services {
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  .services__img {
    position: relative; }
    .services__img__overlay {
      position: absolute;
      display: flex;
      justify-content: space-between;
      padding-right: 15px;
      align-items: center;
      top: 88%;
      bottom: 0;
      left: 0;
      right: 0;
      background: #e67e22f2;
      color: #fff;
      font-size: 24px; }
      .services__img__overlay h3 {
        padding: 15px 15px; }
      .services__img__overlay i {
        font-size: 30px;
        transform: rotate(45deg); }
  .services__img img {
    width: 100%;
    height: 335px;
    object-fit: cover;
    display: block; }
  .services__type {
    min-width: 250px;
    background-color: #fff; }
    .services__type__box {
      padding: 24px; }
    .services__type__icon {
      font-size: 32px;
      color: #e67e22; }
    .services__type__heading {
      color: #1a1a1a; }
    .services__type__para {
      line-height: 24px;
      font-weight: 300;
      max-width: 410px; }
  .services__img img {
    width: 100%; }

/* services end */
/*  *EOF* */
section#portfolio {
  margin: 0 auto;
  width: 100%;
  position: relative;
  margin-top: 100px;
  background: linear-gradient(to right, #1C9186 0%, #1C9186 50%, #1C9186 50%, #1a1a1ad4 50%, #1a1a1ad4 100%); }
  section#portfolio .background {
    display: flex;
    width: 100%;
    height: inherit; }
    section#portfolio .background .green-bg {
      width: 50%;
      background: #1C9186; }
    section#portfolio .background .black-bg {
      width: 50%;
      background: #1a1a1ad4; }
      section#portfolio .background .black-bg h3 {
        position: absolute;
        top: 15px;
        left: 15px;
        color: #fff;
        font-size: 30px;
        margin: 0 0; }
      section#portfolio .background .black-bg i {
        position: absolute;
        top: 20px;
        left: 52%;
        color: #fff;
        font-size: 30px;
        margin: 0 0; }

.portfolio-wrapper {
  width: 75%;
  margin: 0 auto; }

.portfolio {
  position: relative;
  display: grid;
  padding: 20px 0;
  margin-bottom: 20px; }
  .portfolio__box i {
    font-size: 36px;
    padding: 15px; }
  .portfolio__box h3 {
    color: #1C9186;
    font-size: 22px;
    padding-left: 15px; }
  .portfolio__box p {
    line-height: 24px;
    font-weight: 300;
    padding: 15px; }
  .portfolio__box img {
    width: 100%;
    display: block;
    object-fit: cover;
    height: 100%; }
  .portfolio .bg-color {
    background-color: #fff; }

@media (min-width: 768px) {
  header {
    background-position: 22% 70%; }
    header .solutions h2 {
      font-size: 43px; }
  .solutions__footer {
    display: flex;
    justify-content: space-between; }
    .solutions__footer__col {
      margin-right: 24px; }
      .solutions__footer__col__number {
        font-size: 50px; }
  .services {
    width: 90%;
    flex-direction: row; }
    .services__img__overlay {
      top: 90%;
      justify-content: space-between; }
      .services__img__overlay i {
        transform: rotate(220deg); }
    .services__img img {
      width: 100%;
      height: 100%;
      max-width: 960px;
      object-fit: cover; }
    .services__type {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 300px; }
      .services__type__box {
        padding-bottom: 0; }
      .services__type__para:nth-child(3) {
        margin-bottom: 4px; }
      .services__type__box:nth-child(1) {
        padding-top: 4px; }
  section#portfolio {
    width: 90%; }
  .portfolio {
    grid-template-columns: 1fr 1fr; }
    .portfolio .bg-color {
      background-color: #f3f3f3; } }

@media (min-width: 992px) {
  header {
    background-position-y: 20%; }
  ul.nav__menu {
    display: block; }
  .solutions {
    display: flex;
    flex-direction: row;
    align-items: flex-end; }
    .solutions__header {
      margin-right: 80px; }
      .solutions__header h2 {
        margin-bottom: 0;
        margin-top: 5px;
        font-size: 70px; }
    .solutions__body .solutions__body__para {
      font-size: 18px; }
    .solutions__footer .solutions__footer__col__para {
      margin-bottom: 0; }
    .solutions__footer__col__number {
      font-size: 60px; } }

@media (min-width: 1200px) {
  header {
    background-position-y: 70%; }
  header .nav-wrapper .nav__logo {
    color: black; }
  #solutions {
    margin-bottom: 150px; }
  .portfolio {
    grid-template-columns: repeat(3, 1fr); }
    .portfolio__box img {
      border-right: 1px solid #9898A0; }
    .portfolio .bg-color {
      background-color: #fff; } }

@media (min-width: 1400x) {
  header {
    background-position-y: 70%; } }

.fade-in {
  animation: fadeIn ease-in-out 3s; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
