@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

$black: #373433;
$gold: #B98F58;
* {
    // border: 1px solid pink;
}
body {
    font-family: Lato, sans-serif;



           img {
               transform: rotate(-90deg);
               margin-right: 130px;
               max-width: 64px;
               height: auto;
           }
            nav {
                flex-grow: 1;
                a {
                    font-size: 16px;
                    font-weight: 300;
                    color: black;
                    border-top: 1px solid $black;
                    margin-right: 50px;
                    line-height: 28px;
                    &.nav-link {
                        padding-left: 0;
                        
                    }
                
                    &:hover, &.nav-link.active  {
                        color: goldenrod;
                        border-top: 4px solid $gold;
                        padding-top: 5px;
                    }
                }
            }
            span {
                display: block;
                font-weight: 300;
                font-size: 12px;
                transform: rotate(-270deg);
                word-spacing: 10px;
                letter-spacing: 3px;
                padding-left: 80px;
                width: 230px;
            }
       
    //    .nav-container {
    //     display: flex;
    //     justify-content: space-between;
    //     img {
    //         transform: rotate(-90deg);
    //         margin-right: 130px;
    //         max-width: 64px;
    //         height: auto;
    //     }
    //      nav {
    //          flex-grow: 1;
    //          a {
    //              font-size: 16px;
    //              font-weight: 300;
    //              color: black;
    //              border-top: 1px solid $black;
    //              margin-right: 50px;
    //              line-height: 28px;
    //              &.nav-link {
    //                  padding-left: 0;
                     
    //              }
             
    //              &:hover, &.nav-link.active  {
    //                  color: goldenrod;
    //                  border-top: 4px solid $gold;
    //                  padding-top: 5px;
    //              }
    //          }
    //      }
    //      span {
    //          font-weight: 300;
    //          font-size: 12px;
    //          transform: rotate(-270deg);
    //          word-spacing: 10px;
    //          letter-spacing: 3px;
    //          padding-left: 60px;
    //      }
    // }
}
header {
        margin-top: 5rem;
}
